<!doctype html>
<html>
	<head>
		<script src="/static/js/jquery-1.11.3.min.js"></script>
		<script src="/static/dashboard/js/bootstrap.min.js"></script>
		<link type="text/css" rel="stylesheet" href="/static/dashboard/css/bootstrap.min.css" />
	</head>
	<body>
		<nav class="navbar navbar-default">
			<div class="navbar-header">
				<a class="navbar-brand" href="/dashboard">Brand</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
			        <li class="active"><a href="/dashboard/video">视频</a></li>
			        <li><a href="/dashboard/audio">音频</a></li>
			    </ul>
			</div>
		</nav>
	</body>
</html>