.index-top {
	width:1000px;
	height:300px;
	border:1px solid #9c9c9c;
	border-radius:8px;
	zoom:1;
}

.index-top:after{
	content:'';display:block;clear:both;
}

.left {
	float:left;
}

.top {
	float:right;
}

.index-top-left, .index-top-right{
	height:300px;
	width:500px;
	box-sizing:border-box;
}