.login-area {
	width:500px;
	padding:5px;
	border-radius:8px;
	box-shadow:1px 1px 5px #9c9c9c;
	margin:15% auto;
}

label {
	width:100px;
	text-align:right;
	display:inline-block;
}

.sample-input {
	margin-left:10px;
	border-radius:4px;
	outline-style:none;
	-webkit-appearance: none;
	-moz-appearance:none;
	appearance:none;
    border: 1px solid #D0D0D0;
    font-family: Verdana,Geneva,sans-serif,"宋体";
    font:"16px/22px arial";
    font-size: 12px;
    height: 20px;
    width:200px;
    margin: 5px;
    padding: 2px 0 2px 5px;
}

input[type='submit'] {
	cursor:pointer;
	background-color:#ffffff;
}

#valid-user, #valid-password {
	color:red;
	display:none;
}
