body, html, p, ul, h1, h2, h3, h4, h5, h6, a, ol, table{
	margin:0;padding:0;
}

html {
	height:100%;
}

body {
	margin:0 auto;
	width:1000px;
	height:100%;
}

ul, li {
	list-style:none;
}

a {
	text-decoration:none;
}

.a-nav {
	color:#c5c5c5;
	transition:.5s linear;
}

.nav {
	margin-top:10px;
	border-radius:8px;
	box-shadow:1px 1px 5px #0066ff;
	height:50px;
}

.nav > ul{
	height:50px;
	display:inline-block;
	float:right;
}

.nav > ul > li{
	display:inline-block;
	width:100px;
	margin-left:1px;
	line-height:50px;
}

.a-nav:hover {
	color:#0066ff;
}

.my-logo {
	text-decoration:none;
	margin-left:10px;
	height:50px;
	width:150px;
	line-height:50px;
	float:left;
	color:#0066ff;
	position:relative;
}

.my-logo > div {
	position:absolute;
	top:0;
}

.my-logo > div:nth-of-type(1){
	left:0;
	top:-5px;
	transform:rotate(20deg);
	-webkit-transform:rotate(20deg);
	-moz-transform:rotate(20deg);
	-ms-transform:rotate(20deg);
}

.my-logo > div:nth-of-type(2){
	left:20px;
	transform:rotate(5deg);
	-webkit-transform:rotate(5deg);
	-moz-transform:rotate(5deg);
	-ms-transform:rotate(5deg);
}

.my-logo > div:nth-of-type(3){
	left:40px;
	
}

.my-logo > div:nth-of-type(4){
	left:70px;
	transform:rotate(-20deg);
	-webkit-transform:rotate(-20deg);
	-moz-transform:rotate(-20deg);
	-ms-transform:rotate(-20deg);
}

.my-logo > div:nth-of-type(5){
	left:90px;
	top:-5px;
	transform:rotate(-30deg);
	-webkit-transform:rotate(-30deg);
	-moz-transform:rotate(-30deg);
	-ms-transform:rotate(-30deg);
}

.my-logo > div:nth-of-type(6){
	right:-10px;
}

.login-regist{
	font-size:10px;
	cursor:pointer;
}
