.register-area{
	width:550px;
	padding:10px;
	box-shadow:1px 1px 5px #5c5c5c;
	margin:0 auto;
	border-radius:8px;
}

label {
	width:100px;
	text-align:left;
	display:inline-block;
}

input {
	margin-left:10px;
	border-radius:4px;
	outline-style:none;
	-webkit-appearance: none;
	-moz-appearance:none;
	appearance:none;
}