.register-area{
	width:550px;
	padding:10px;
	box-shadow:1px 1px 5px #5c5c5c;
	margin:0 auto;
	border-radius:8px;
	position:absolute;
	top:100px;
	left:220px;
	animation:formRun 1s;
	-webkit-animation:formRun 1s;
	-moz-animation:formRun 1s;
	-ms-animation:formRun 1s;
}

label {
	width:100px;
	text-align:left;
	display:inline-block;
}

input {
	margin-left:10px;
	border-radius:4px;
	outline-style:none;
	-webkit-appearance: none;
	-moz-appearance:none;
	appearance:none;
}

#user-header {
	display:none;
}

#click-user {
	cursor:pointer;
	width:200px;
}

#click-user img {
	border-radius:50%;
	width:50px;
	height:45px;
	vertical-align:middle;
}

@keyframes formRun {
	0% {transform:translate3d(0, -100px, 0);
		-webkits-transform:translate3d(0, -100px, 0);
		-moz-transform:translate3d(0, -100px, 0);
		-ms-transform:translate3d(0, -100px, 0);
		opacity:0;};
}

@-webkit-keyframes formRun{
	0% {transform:translate3d(0, -100px, 0);
		-webkits-transform:translate3d(0, -100px, 0);
		-moz-transform:translate3d(0, -100px, 0);
		-ms-transform:translate3d(0, -100px, 0);
		opacity:0;};
}