<!doctype html>
<html>
	<head>
		<title>德巍的博客</title>
		<meta charset="utf8" />
		<script src='/static/js/jquery-1.11.3.min.js'></script>
		<script src='/static/js/base.min.js'></script>
		<link type="text/css" rel="stylesheet" href="/static/css/base.min.css" />
		{{.HtmlHead}}
	</head>
	<body>
		<div class='nav'>
			<a class="my-logo" href="javascript:;">
				<div>小</div>
				<div>巍</div>
				<div>&&</div>
				<div>小</div>
				<div>曼</div>
				<div>Home</div>
			</a>
			<ul>
				<li><a href='/' class='a-nav'>首页</a></li>
				<li><a href='javascript:;' class='a-nav'>our博文</a></li>
				<li><a href='/myvideo' class='a-nav'>our视频</a></li>
				<li><a href='javascript:;' class='a-nav'>our音乐</a></li>
				<li class="login-regist">
					{{if .uname }}
					<span>{{ .uname}}</span>
					<span>
						<a href='/logout'>退出</a>
					</span>
					{{else}}
					<span>
						<a href='/login' class='a-nav'>登录
					</span>|
					<span>
						<a href='/register' class='a-nav'>注册</a>
					</span>
					{{end}}
				</li>
			</ul>
		</div>
		<div class="base-content">
			{{.LayoutContent}}
		</div>
		{{.Script}}
	</body>
</html>